n8n-workflows/forgot-password.json
{
  "name": "Sim2Real Forgot Password",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forgot-password",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "forgot-password"
    },
    {
      "parameters": {
        "jsCode": "// Generate secure reset token\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\nconst expiresAt = new Date(Date.now() + 3600000); // 1 hour\n\nreturn [\n  {\n    json: {\n      email: $input.first().json.body.email,\n      token: token,\n      expiresAt: expiresAt.toISOString(),\n      resetUrl: `https://sim-2-real.com/reset-password?token=${token}`\n    }\n  }\n];"
      },
      "name": "Generate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Store token in database (Simulated - replace with actual DB query)\nconst email = $input.first().json.email;\nconst token = $input.first().json.token;\nconst expiresAt = $input.first().json.expiresAt;\n\n// TODO: Insert into password_resets table\n// INSERT INTO password_resets (email, token, expires_at) VALUES (?, ?, ?)\n\nreturn [$input.first()];"
      },
      "name": "Store Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@developer312.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Reset your Sim2Real password",
        "text": "={{ 'Click this link to reset your password: ' + $json.resetUrl }}",
        "html": "=<p>Hello,</p><p>You requested a password reset for your Sim2Real account.</p><p><a href=\"{{ $json.resetUrl }}\">Click here to reset your password</a></p><p>This link expires in 1 hour.</p><p>If you didn't request this, please ignore this email.</p>"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Password reset email sent. Check your inbox.\"}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Generate Token", "type": "main", "index": 0}]]
    },
    "Generate Token": {
      "main": [[{"node": "Store Token", "type": "main", "index": 0}]]
    },
    "Store Token": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  }
}
